* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 62.5%;
    --cor-fonte: #464646;
    --cor-background: #F5F5F5;
    --cor-section: #EAF2FD;
    --cor-label: #A2A2A2;
    --branco: #ffffff;
    --azul: #2A7AE4;

}


@media screen and (min-width: 0) {



    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.6rem;
        color: var(--cor-fonte);
        background-color: var(--cor-background);

    }

    .cabecalho__nome {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }


    .cabecalho__menu {
        display: none;
    }

    .cabecalho__menu__contato {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: inherit;
    }

    .apresentacao {
        padding: 1.6rem;
        color: var(--cor-fonte);
        background-color: var(--cor-background);
    }

    .apresentacao__imagem {
        width: 9.8rem;
        height: 9.8rem;
        background-image: url(../img/perfil.png);
        background-position: center;
        background-size: cover;
        margin-bottom: 1.6rem;

    }

    .apresentacao__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-top: 1.6rem;
    }

    .apresentacao__paragrafo {
        margin-block: 1.6rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .apresentacao_links {
        display: flex;
        flex-wrap: wrap;
        gap: .23rem;

    }

    .apresentacao__link {
        display: flex;



    }

    .apresentacao__link a {
        display: flex;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--cor-fonte);
        align-items: center;
    }

    .sobre_mim {
        padding: 1.6rem;
        background: var(--cor-section);
        color: var(--cor-fonte);
    }

    .sobre_mim__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-bottom: 1.6rem;
    }

    .sobre_mim__paragrafo {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 1.6rem;
    }

    .skills {
        padding: 1.6rem;
        background-color: var(--cor-background);


    }

    .skills__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: var(--cor-fonte);
        text-align: center;
        margin-bottom: 3.2rem;
    }

    .skills__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        justify-content: center;
    }

    .skills__item {
        width: 15.6rem;
        height: 11.8rem;
        padding-top: 3.8rem;
        padding-left: 1.6rem;
        background-color: var(--branco);
    }

    .skills__item__logo {
        margin-bottom: .8rem;
    }

    .skills__item__titulo {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: var(--cor-fonte);
    }

    .hobbies {
        padding: 1.6rem;
        background-color: var(--cor-background);
    }

    .hobbies__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: var(--cor-fonte);
        text-align: center;
        margin-bottom: 3.2rem;
    }

    .hobbies__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        justify-content: center;
    }

    .hobbies__item {
        width: 15.6rem;
        height: 11.8rem;
        padding-top: 3.8rem;
        padding-left: 1.6rem;
        background-color: var(--branco);
    }

    .hobbies__item__logo {
        margin-bottom: .8rem;
    }

    .hobbies__item__titulo {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: var(--cor-fonte);
    }

    .cursos {
        background-color: var(--cor-section);
        padding: 3.2rem;
        color: var(--cor-fonte);


    }

    .cursos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .curso__front {
        margin-bottom: 3.2rem;
    }

    .cursos__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        text-align: center;
        margin-bottom: 3.2rem;

    }

    .curso__front__logo-alura {
        width: 29.6rem;
        height: 11.8rem;
        background-image: url(../img/alura_logo.png);
        background-position: center;
        background-size: cover;
    }

    .curso__front__logo-devclub {
        display: flex;
        margin: auto;

    }

    .curso__front__titulo {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin: .8rem 0;
        text-align: center;
    }

    .curso__front__descricao {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: center;

    }

    .experiencia {
        padding: 3.2rem;
        background-color: var(--cor-background);

    }

    .experiencia__titulo {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: var(--cor-fonte);
        text-align: center;
        margin-bottom: 1.6rem;
    }

    .experiencia__imagem {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .experiencia__imagem__titulo {
        color: var(--cor-fonte);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .experiencia__imagem__paragrafo {
        color: var(--cor-fonte);
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-top: .8rem;
        margin-bottom: 2rem;
    }

    .experiencia__link__repositorio {
        border: 1px solid var(--azul);
        color: var(--azul);
        display: inline-block;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 2rem;
        padding: 1.2rem 1.6rem;
        text-decoration: none;


    }

    .experiencia__link__demo {
        background: var(--azul);
        border: none;
        color: var(--branco);
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-left: 3.2rem;
        padding: 1.2rem 1.6rem;
        text-decoration: none;
    }

    .contato {
        padding: 3.2rem;
        background-color: var(--cor-section);
    }

    .contato__titulo {
        color: var(--cor-fonte);
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-bottom: .8rem;
    }

    .contato__paragrafo {
        color: var(--cor-fonte);
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 3.2rem;

    }

    .contato__input {
        color: var(--cor-fonte);
        border: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 3.2rem;
        outline: none;
        padding: 2.8rem 0 .8rem 1.2rem;
        width: 100%;

    }

    .contato__mensagem {
        color: var(--cor-fonte);
        border: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 3.2rem;
        outline: none;
        padding: .8rem 0 0 1.2rem;
        width: 100%;
    }

    .contato__botao {
        background: var(--azul);
        border: none;
        color: var(--branco);
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding: 1.2rem 1.6rem;
        text-decoration: none;
    }

    .footer {
        padding: 3.2rem 0;
    }

    .footer__paragrafo {
        color: var(--cor-fonte);
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
    }

}

/* RESPONSIVIDADE TABLET */

@media screen and (min-width: 768px) {
    .cabecalho {
        padding-inline: 3.2rem;
    }

    .cabecalho__nome {
        font-size: 1.6rem;
    }

    .cabecalho__menu__contato {
        font-weight: 700;
    }

    .apresentacao {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-inline: 3.2rem;
    }

    .apresentacao__texto {
        width: 70%;
    }

    .apresentacao__imagem {
        width: 14.6rem;
        height: 14.6rem;
    }

    .sobre_mim,
    .skills,
    .hobbies {
        padding: 3.2rem;
    }

    .cursos__container {
        flex-direction: row;
        justify-content: space-evenly;

    }
}

/* RESPONSIVIDAE DESK */

@media screen and (min-width: 1024px) {

    body {
        max-width: 1136px;
        margin: auto;
    }


    .cabecalho__menu {
        display: flex;
        list-style: none;
        gap: 3.2rem;
    }

    .cabecalho__menu__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: var(--cor-fonte);
        display: inherit;
    }

    .cabecalho__menu__contato {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .apresentacao,
    .skills {
        padding-top: 3.2rem;

    }

    .apresentacao__titulo {
        font-size: 5.2rem;
        line-height: 6.1rem;
    }

    .apresentacao__texto {
        width: 60%;
    }

    .apresentacao__imagem {
        width: 36.8rem;
        height: 36.8rem;
    }

    .apresentacao__paragrafo {
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-block: 2.4rem;
    }

    .apresentacao_links {
        gap: 3.2rem;
    }

    .apresentacao__link a {
        font-size: 1.6rem;
    }

    .sobre_mim {
        padding-block: 6.4rem;

    }

    .sobre_mim__titulo,
    .skills__titulo,
    .hobbies__titulo,
    .cursos__titulo,
    .experiencia__titulo,
    .contato__titulo {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .sobre_mim__paragrafo {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .curso__front {
        width: 30%;

    }


    .curso__front__logo-alura {
        width: 100%;
    }

    .experiencia_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.2rem;
        gap: 2rem;
       
    }

    .experiencia_container img {
        width: 55%;
    }

    .forca {
        flex-direction: row-reverse;
       
    }

    .contato_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        

    }

    .contato__imagem {
       width: 464px;
       height: 663px;
       background-image: url(../img/telefone.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;

    }

    .contato_container__formulario {
        width: 50%;
       
       
       
    }

   

  









}