* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    font-size: 62.5%;
    --cor-fonte: #464646;
    --cor-background: #F5F5F5;
    --cor-section: #EAF2FD;
    --cor-label: #A2A2A2;
    --branco: #ffffff;
    --azul: #2A7AE4;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.6rem;
    color: var(--cor-fonte);
}

.cabecalho__nome {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}


.menu {
    display: none;
}

.menu__contato {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: inherit;
}

.apresentacao {
    padding: 1.6rem;
    color: var(--cor-fonte);
}

.apresentacao__imagem {
    width: 9.8rem;
    height: 9.8rem;
    background-image: url(../img/perfil.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 1.6rem;

}

.apresetacao h1 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-top: 1.6rem;
}

.apresentacao p {
    margin-block: 1.6rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.apresentacao_links {
    display: flex;
    flex-wrap: wrap;
}

.apresentacao__link {
    display: flex;


}

.apresentacao__link a {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-fonte);
    align-items: center;
}

.sobre_mim {
    padding: 1.6rem;
    background: var(--cor-section);
    color: var(--cor-fonte);
}

.sobre_mim__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1.6rem;
}

.sobre_mim__paragrafo {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
}